<div class="container_big-card">
  <div class="big_card_picture">
    <img
    src="https://i.ytimg.com/vi/D1KyqSG6UBY/maxresdefault.jpg"
    alt="forza motorsport"
    height="200px">
  </div>

  <div class="big_card_title">
    <h1>
      <a href="#">
        Novo forza trás vida de volta à franquia
      </a>
    </h1>
  </div>

  <div class="big_card_description">
    <p>
      <a>
      Com mecânicas melhoradas, progressão mais natural e ampla gama de carros, novo forza trás a franquia a suas origens
      </a>
    </p>
  </div>
</div>
